.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    footer {
        padding: 8px 16px;
        font-size: 12px;
        color: var(--color-grey1);
    }
}

.siteContent {
    flex: 1;
}
